@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #121212;
		--black: #121212;
		--feat: #ff3e00;
		--overlay: rgba(0, 0, 0, 0.55);
		--subtle: rgba(255, 255, 255, 0.2);
	}
}
